<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>day0813</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
<servlet>
<servlet-name>test</servlet-name>
<servlet-class>servlet.test</servlet-class>
</servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>registServlet</servlet-name>
    <servlet-class>servlet.registServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>loginServlet</servlet-name>
    <servlet-class>servlet.loginServlet</servlet-class>
  </servlet>


<servlet-mapping>
<servlet-name>test</servlet-name>
 <url-pattern>/hello</url-pattern>
</servlet-mapping>
  <servlet-mapping>
    <servlet-name>registServlet</servlet-name>
    <url-pattern>/registServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>loginServlet</servlet-name>
    <url-pattern>/loginServlet</url-pattern>
  </servlet-mapping>
    <servlet>
     <servlet-name>imgServlet</servlet-name>
     <servlet-class>servlet.ImgServlet</servlet-class>
  </servlet>
  
   <servlet-mapping>
      <servlet-name>imgServlet</servlet-name>
      <url-pattern>/imgServlet</url-pattern>
  </servlet-mapping>
</web-app>